{{ define "header" }}{{ partial "page-header.html" . }}{{ end }} {{ define "main" }}
<div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
        <header>
            <p class="f6 b helvetica tracked">
                {{ humanize .Section | upper }}
            </p>
            <h1 class="f1">
                {{ .Title }}
            </h1>
            <time class="f6 mv4 dib tracked" datetime="{{ .Date }}">
                {{ .PublishDate.Format "Monday, January 2, 2006" }} {{ .Site.Params.AuthorName }}
            </time>
        </header>
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
            {{ .Content }}
        </div>

        <div>
            {{ if (.Site.Params.gitment) }}
            <div id="git-comments"></div>
            <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
            <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
            <script>
                var gitment = new Gitment({
                    owner: 'chenyoufu',
                    repo: 'comments',
                    oauth: {
                        client_id: 'd136ace6d731408d9722',
                        client_secret: '41ec226335178154b0d861825810682e7672ed25',
                    }
                })
                gitment.render('git-comments')
            </script> 
            {{ end }}
        </div>

    </article>
    <aside class="ph3 mt2 mt6-ns">
        {{ partial "menu-contextual.html" . }}
    </aside>

</div>
{{ end }}